* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

body {
  font-family: "Roboto", sans-serif;
}

.offcanvas {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  color: #d6dee7;
}
.offcanvas-title {
  font-size: 2rem;
}
.offcanvas-body {
  font-size: 1rem;
}
.offcanvas .carrito-title {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  color: #fff;
}
.offcanvas .carrito-items {
  font-size: 1rem;
  display: block;
  padding-bottom: 0.1rem;
}

.btn-close {
  background: none;
}
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.btn-carrito {
  margin-top: 2rem;
  background-color: #ffb320;
  color: #fff;
  border-radius: 0px;
}
.btn-carrito:hover {
  color: #fff;
  background-color: #f7c96d;
}
.btn-carrito:focus {
  box-shadow: 0px 1px 10px #ffb320;
}
.btn-carrito-clear {
  margin-top: 2rem;
  color: #fff;
  border-radius: 0px;
  background-color: #ff205f;
}
.btn-carrito-clear:hover {
  color: #fff;
  background-color: #f95785;
}

.btn-shopping {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 0px 5px #ffb320;
  background-color: #131313;
  color: #ffb320;
  z-index: 100;
  border: none;
}
.btn-shopping:hover {
  background-color: #ffb320;
}

.carrito-tabla {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.carrito-tabla th {
  padding: 0.2rem;
  font-weight: 500;
}
.carrito-tabla td {
  padding: 0.2rem;
}

.item-productos td {
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trash-icon {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.trash-icon i {
  font-size: 15px;
}
.trash-icon i:hover {
  color: #ffb320;
}

.contador {
  position: fixed;
  bottom: 28px;
  right: 63px;
  border-radius: 100%;
  background-color: #ff205f;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  text-align: center;
  width: 25px;
  height: 25px;
  z-index: 1000;
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 43px;
  z-index: 99;
  outline: none;
  border: none;
  background-color: rgba(255, 0, 0, 0);
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.myBtn i {
  font-size: 20px;
  color: #ff205f;
}

header {
  background-color: #131313;
  border-bottom: 2px solid #ffb320;
}

.navbar-nav {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding-left: 1rem;
  display: inline-block;
}
.nav-link:hover {
  color: #ffb320;
}
.nav-link:focus {
  color: #ffb320;
}

.nav-item {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.fa-solid {
  color: aliceblue;
  font-size: 1.4rem;
}

.navbar-brand {
  width: 120px;
}

.navbar-toggler {
  background-color: #131313;
  line-height: inherit;
}
.navbar-toggler:focus {
  outline: 0;
}

.login {
  background-color: #ffb320;
  font-weight: 500;
  padding: 0.5rem 1.6rem;
  border: none;
  border-radius: 1.8rem;
  color: #252525;
}
.login:hover {
  background-color: #f7c96d;
  box-shadow: 0px 1px 4px #f7c96d;
}
.login:focus {
  color: #252525;
}

.footer {
  background-color: #131313;
  border-top: 2px solid #d6dee7;
}

.row__footer {
  display: flex;
  justify-content: space-evenly;
}

.col__footer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}

.footer__title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer__text {
  color: #d6dee7;
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 0.3rem;
}

.copyright {
  text-align: center;
  color: #ffb320;
  padding: 1rem;
  border-top: 1px solid #d6dee7;
}

.svg-redes svg {
  margin-right: 0.4rem;
  cursor: pointer;
}

.main-index {
  background-color: #eef2f6;
}

.img__welcome {
  height: 90vh;
  width: 100vw;
}

.intro-title {
  font-size: 4.2rem;
  font-weight: 600;
  color: #ffb320;
}

.intro-description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #252525;
}

.img__productos {
  width: 100%;
  height: 230px;
  padding-bottom: 1.5rem;
}

.hero-products {
  padding-bottom: 2rem;
  background-color: #eef2f6;
}

.productos {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
}
.productos-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffb320;
  padding: 0.5rem 0;
}
.productos-link {
  font-size: 1rem;
  padding-left: 2rem;
  color: #252525;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.productos-icons-btn {
  font-size: 23px;
  padding: 0 7px;
  margin-left: 1rem;
  border: none;
  background-color: #fff;
}
.productos-icons-btn i {
  font: red;
}

#buscador {
  width: 280px;
  height: 26px;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  padding-left: 0.4rem;
  color: #252525;
  font-weight: 500;
  border: 1px solid #252525;
  margin-bottom: 1rem;
}
#buscador:focus {
  box-shadow: -1px 1px 3px rgb(179, 176, 176);
  outline: none;
}

.title-buscador {
  display: inline-block;
  color: #ffb320;
  font-size: 1rem;
  font-weight: 500;
}

.img-productos {
  width: 200px;
}

.hero-armaTuPc {
  padding-bottom: 4rem;
  background-color: #eef2f6;
}

.brand {
  color: #252525;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid #d6dee7;
  padding: 0.3rem;
  margin: 2rem 0;
}
.brand .fa-computer {
  padding: 0.2rem 0;
  padding-right: 1rem;
  padding-left: 0.2rem;
  color: #252525;
}

.componentes {
  background-color: #fff;
  padding: 1rem;
  border: 2px solid #d6dee7;
  height: 100%;
  margin-bottom: 2rem;
}
.componentes-title {
  padding-bottom: 2rem;
}
.componentes-img {
  width: 50px;
}
.componentes-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: #252525;
}
.componentes-icons {
  padding: 0.8rem;
  border-top: 2px dotted #ffb320;
}
.componentes-subTitle {
  font-size: 1rem;
  padding-left: 2rem;
  color: #252525;
}
.componentes-cardName {
  padding-left: 2rem;
  text-align: justify;
  font-size: 0.8rem;
}

.barra-pasos {
  background-color: #fff;
  color: #252525;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border: 2px solid #d6dee7;
}

.ultimoPaso {
  background-color: #fff;
  padding: 2rem;
  border: 2px solid #d6dee7;
}
.ultimoPaso:hover {
  box-shadow: 0px 4px 8px rgb(179, 176, 176);
}
.ultimoPaso-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.ultimoPaso-img {
  display: block;
  padding-bottom: 2rem;
}
.ultimoPaso-btn {
  border: none;
  background-color: #ffb320;
  padding: 0.4rem 0.6rem;
  color: #fff;
}
.ultimoPaso-btn:hover {
  background-color: #f7c96d;
}

.btn-reiniciar {
  background-color: #ff205f;
}
.btn-reiniciar:hover {
  background-color: #f95785;
}

.hero-compra {
  background-color: rgba(0, 0, 0, 0.4039215686);
  padding-bottom: 2rem;
}

.compra_background-form {
  background-color: #1f2225;
  padding: 1rem;
  border: 1px solid #d6dee7;
}

.form-label {
  color: #fff;
}

.form-control,
.form-select {
  background-color: #eef2f6;
  border-radius: 0px;
  border: 2px solid #d6dee7;
  color: #252525;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
  background-color: #eef2f6;
  color: #252525;
  border-color: #ffb320;
}

.form-check-input {
  background-color: #eef2f6;
}
.form-check-input:checked {
  background-color: #ffb320;
  border: none;
  outline: none;
}
.form-check-input:focus {
  box-shadow: 0px 0px 5px #ffb320;
  border: none;
  outline: none;
}

.form-check-label {
  color: #fff;
}

.ultimo-paso {
  margin-top: 1rem;
  padding: 0.4rem;
  background-color: #131313;
  border: 1px solid #d6dee7;
  margin-bottom: 2rem;
}
.ultimo-title {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #d6dee7;
}

.sweet-fechas {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
}

.btn-clear {
  color: #fff;
  border-radius: 0px;
  background-color: #ff205f;
  border: none;
}
.btn-clear:hover {
  color: #fff;
  background-color: #f95785;
}
.btn-clear:focus {
  outline: none;
  box-shadow: none;
}

.card {
  background-color: #fff;
  width: 13rem;
  border: 2px solid #d6dee7;
  border-radius: 0px;
}
.card-body {
  padding: 0.8rem;
}
.card-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #252525;
}
.card-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffb320;
}
.card:hover {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.card-search {
  background-color: #eef2f6;
  border: none;
}

.btn-primary {
  background-color: #ffb320;
  border: none;
  border-radius: 0px;
}
.btn-primary:hover {
  background-color: #f7c96d;
}
.btn-primary:focus {
  background-color: #ffb320;
  box-shadow: none;
  outline: none;
}

.card-row {
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-row:hover {
  box-shadow: 0px 4px 8px rgb(179, 176, 176);
  border: none;
}

@media (max-width: 992px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .card {
    width: 12rem;
  }

  .card-img-top {
    width: 180px;
  }

  .img__welcome {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .productos-link {
    padding-left: 0.5rem;
  }

  .productos {
    margin-bottom: 2rem;
  }

  .card {
    width: 11rem;
  }

  .card-img-top {
    max-width: 150px;
  }

  .img__productos {
    height: 175px;
  }
}
@media (max-width: 480px) {
  .card {
    max-width: 10rem;
  }

  .productos {
    margin-bottom: 2rem;
  }

  .card-img-top {
    max-width: 150px;
  }

  #buscador {
    width: 100%;
  }

  .img__welcome {
    height: 40vh;
  }

  .img__productos {
    height: 150px;
  }
}
@media (min-width: 993px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .card-img-top {
    max-width: 220px;
  }
}

/*# sourceMappingURL=style.css.map */
