* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #353849;
}

.offcanvas {
  background-color: #353849;
  color: #ffffff;
}
.offcanvas-title {
  font-size: 2rem;
}
.offcanvas-body {
  font-size: 1rem;
}
.offcanvas .carrito-title {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  color: #03cc90;
}
.offcanvas .carrito-items {
  font-size: 1rem;
  display: block;
  padding-bottom: 0.1rem;
}

.btn-carrito {
  margin-top: 2rem;
  background-color: #03cc90;
  color: #ffffff;
  box-shadow: 0px 1px 10px #232734;
}
.btn-carrito:hover {
  color: #ffffff;
}
.btn-carrito:focus {
  box-shadow: 0px 1px 10px #03cc90;
}

.btn-shopping {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 1px 10px #03cc90;
  background-color: #353849;
  color: #03cc90;
  z-index: 100;
  border: none;
}
.btn-shopping:hover {
  background-color: #03cc90;
}

.carrito-tabla {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.carrito-tabla th {
  padding: 0.2rem;
  font-weight: 500;
}
.carrito-tabla td {
  padding: 0.2rem;
}

.item-productos td {
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trash-icon {
  border: none;
  background-color: #353849;
}
.trash-icon i {
  font-size: 15px;
}
.trash-icon i:hover {
  color: #03cc90;
}

header {
  background-color: #232734;
}

.navbar-nav {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 1rem;
  display: inline-block;
}
.nav-link:hover {
  color: #03cc90;
}

.nav-item {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.fa-solid {
  color: aliceblue;
  font-size: 1.4rem;
}

.navbar-brand {
  width: 70px;
}

.navbar-toggler {
  background-color: #353849;
  box-shadow: 0px 1px 10px #03cc90;
  line-height: inherit;
}
.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0px 1px 10px #03cc90;
}

.footer {
  background-color: #232734;
  border-top: 2px solid #232734;
}

.row__footer {
  display: flex;
  justify-content: space-evenly;
}

.col__footer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}

.footer__title {
  color: #03cc90;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer__text {
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 0.3rem;
}

.copyright {
  text-align: center;
  color: #03cc90;
  padding: 1rem;
  border-top: 1px solid #232734;
}

.svg-redes svg {
  margin-right: 0.4rem;
  cursor: pointer;
}

.banner {
  width: 100%;
}

.img__welcome {
  height: 500px;
}

.img__productos {
  width: 100%;
  height: 150px;
  padding-bottom: 1.5rem;
}

.hero-productos {
  margin-bottom: 2rem;
}

.productos {
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
}
.productos-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #03cc90;
  padding: 0.5rem 0;
}
.productos-link {
  font-size: 1rem;
  padding-left: 2rem;
  color: #353849;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.productos-icons-btn {
  font-size: 23px;
  padding: 0 7px;
  margin-left: 1rem;
  border: none;
  background-color: #ffffff;
}
.productos-icons-btn i {
  color: #353849;
}

.btn-background {
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 6px #03cc90;
}

#buscador {
  width: 280px;
  height: 26px;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  padding-left: 0.4rem;
  color: #232734;
  font-weight: 500;
  border: 2px solid #03cc90;
  margin-bottom: 1rem;
}
#buscador:focus {
  box-shadow: none;
  outline: none;
}

.title-buscador {
  display: inline-block;
  color: #03cc90;
  font-size: 1rem;
  font-weight: 500;
}

.img-productos {
  width: 200px;
}

.hero-armaTuPc {
  margin-bottom: 2rem;
}

.brand {
  color: #ffffff;
  background-color: #03cc90;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 0.4rem;
  padding: 0.3rem;
  margin: 2rem 0;
  box-shadow: 3px 2px 4px #232734;
}
.brand .fa-computer {
  padding: 0.2rem 0;
  padding-right: 1rem;
  padding-left: 0.2rem;
}

.componentes {
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 3px 5px 4px #232734;
  height: 100%;
  margin-bottom: 2rem;
}
.componentes-title {
  padding-bottom: 2rem;
}
.componentes-img {
  width: 50px;
}
.componentes-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: #03cc90;
}
.componentes-icons {
  padding: 0.8rem;
  border-top: 2px dotted #03cc90;
}
.componentes-subTitle {
  font-size: 1rem;
  padding-left: 2rem;
  color: #03cc90;
}
.componentes-cardName {
  padding-left: 2rem;
  text-align: justify;
  font-size: 0.8rem;
}

.card {
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 3px 5px 4px #232734;
  border: none;
  width: 13rem;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #232734;
}
.card-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #03cc90;
}
.card-img-top {
  width: 192px;
  height: 192px;
}

.card-search {
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 3px 5px 4px #232734;
  border: none;
}

.btn-primary {
  background-color: #03cc90;
  border: none;
}
.btn-primary:hover {
  background-color: #232734;
}
.btn-primary:focus {
  background-color: #03cc90;
  box-shadow: none;
  outline: none;
}

.barra-pasos {
  background-color: #353849;
  box-shadow: 3px 5px 4px #232734;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.8rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.barra-pasos .btn-back {
  background-color: #03cc90;
  color: #ffffff;
  border: none;
  padding: 0.3rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 3px #232734;
}
.barra-pasos .btn-back:hover {
  background-color: #232734;
  color: #03cc90;
}

.card-row {
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 3px 5px 4px #232734;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-label {
  color: #ffffff;
}

.form-control,
.form-select {
  background-color: #232734;
  border-color: #03cc90;
  color: #ffffff;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
  background-color: #232734;
  color: #ffffff;
  border-color: #232734;
  box-shadow: 0px 0px 8px #03cc90;
}

.form-check-input {
  background-color: #ffffff;
}
.form-check-input:checked {
  background-color: #03cc90;
  border: none;
  outline: none;
}
.form-check-input:focus {
  box-shadow: 0px 0px 8px #03cc90;
}

.form-check-label {
  color: #ffffff;
}

.ultimo-paso {
  margin-top: 1rem;
  padding: 0.4rem;
  background-color: #03cc90;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 8px #03cc90;
}
.ultimo-title {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #353849;
}

.sweet-fechas {
  display: inline-block;
  color: #232734;
  font-size: 1.2rem;
}

.cartoon {
  position: static;
  transform: translate(-25%, 0%);
  width: 8vmin;
  height: 8vmin;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.5vmin solid;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

/****/
.hat {
  width: 40%;
  height: 50%;
  background: purple;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%/0 0 10% 10%;
  box-shadow: inset 0 -95vmin 0 -60vmin #222;
  clip-path: polygon(100% 100%, 0% 100%, 5% 0%, -20% 0%, -20% -100%, 120% -100%, 120% 0%, 95% 0%);
}

.hat::after {
  top: -10%;
  height: 10%;
  left: -15%;
  width: 130%;
  background: #222;
}

.ear {
  width: 20%;
  height: 40%;
  border-radius: 0% 100%;
  background: #eee;
  top: 8%;
  left: 28%;
  transform-origin: bottom right;
}

.ear::after {
  width: 60%;
  height: 80%;
  background: pink;
  bottom: 0;
  border-radius: 0% 100%;
  left: 40%;
  transform-origin: bottom right;
  transform: rotate(-8deg);
}

.ear + .ear {
  transform: scaleX(-1);
  left: auto;
  right: 48%;
}

@keyframes moveEar1 {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-8deg);
  }
}
@keyframes moveEar2 {
  0%, 100% {
    transform: scaleX(-1) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) rotate(-8deg);
  }
}
.cartoon:hover .ear {
  animation: moveEar1 0.5s linear infinite;
}

.cartoon:hover .ear + .ear {
  animation: moveEar2 0.5s linear infinite;
}

@media (max-width: 992px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .card {
    width: 11rem;
  }

  .card-img-top {
    width: 180px;
  }
}
@media (max-width: 768px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .productos-link {
    padding-left: 0.5rem;
  }

  .productos {
    margin-bottom: 2rem;
  }

  .card {
    width: 11rem;
  }

  .card-img-top {
    max-width: 150px;
  }
}
@media (max-width: 480px) {
  .card {
    max-width: 11rem;
  }

  .productos {
    margin-bottom: 2rem;
  }

  .card-img-top {
    max-width: 150px;
  }

  #buscador {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
