.card {
  background-color: $white;
  width: 13rem;
  border: 2px solid $grey;
  border-radius: 0px;

  &-body {
    padding: 0.8rem;
  }

  &-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: $black;
  }

  &-text {
    font-size: 1.1rem;
    font-weight: 500;
    color: $color-1;
  }

  &:hover {
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
    border: none;
  }
}

.card-search {
  background-color: $background-2;
  border: none;
}

.btn-primary {
  background-color: $color-1;
  border: none;
  border-radius: 0px;

  &:hover {
    background-color: $color-1-ho;
  }

  &:focus {
    background-color: $color-1;
    box-shadow: none;
    outline: none;
  }
}

// class para cards en formato row

.card-row {
  padding: 0.5rem;
  background-color: $white;
  border: none;
  // new
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    box-shadow: 0px 4px 8px rgb(179, 176, 176);
    border: none;
  }
}
