.hero-compra {
  background: linear-gradient(to top, #536976, #292e49);
}

.form-label {
  color: $white;
}

.form-control,
.form-select {
  background-color: $background-2;
  border-color: $color-1;
  color: $black;

  &:focus {
    box-shadow: none;
    outline: none;
    background-color: $background-2;
    color: $black;
    border-color: $color-1;
    box-shadow: 0px 2px 8px $color-1;
  }
}

.form-check-input {
  background-color: $background-2;

  &:checked {
    background-color: $color-1;
    border: none;
    outline: none;
  }

  &:focus {
    box-shadow: 0px 0px 5px $color-1;
    border: none;
    outline: none;
  }
}

.form-check-label {
  color: $white;
}

.ultimo {
  &-paso {
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: $background-1;
    border-radius: 0.4rem;
    border: 1px solid $color-1;
  }
  &-title {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: $grey;
  }
}

.sweet-fechas {
  display: inline-block;
  color: $white;
  font-size: 1.2rem;
}

.btn-clear {
  color: $white;
  border-radius: 0px;
  background-color: $color-2;

  &:hover {
    color: $white;
    background-color: $color-2-ho;
  }
}
