.footer {
  background-color: $background-1;
  border-top: 2px solid $grey;
}
.row__footer {
  display: flex;
  justify-content: space-evenly;
}

.col__footer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}
.footer__title {
  color: $white;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer__text {
  color: $grey;
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 0.3rem;
}

.copyright {
  text-align: center;
  color: $color-1;
  padding: 1rem;
  border-top: 1px solid $grey;
}

.svg-redes svg {
  margin-right: 0.4rem;
  cursor: pointer;
}
