@media (max-width: 992px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .card {
    width: 12rem;
  }
  .card-img-top {
    width: 180px;
  }
  .img__welcome {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .productos-link {
    padding-left: 0.5rem;
  }

  .productos {
    margin-bottom: 2rem;
  }
  .card {
    width: 11rem;
  }
  .card-img-top {
    max-width: 150px;
  }
  .img__productos {
    height: 175px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 10rem;
  }
  .productos {
    margin-bottom: 2rem;
  }
  .card-img-top {
    max-width: 150px;
  }
  #buscador {
    width: 100%;
  }
  .img__welcome {
    height: 60vh;
  }
  .img__productos {
    height: 150px;
  }
}

@media (min-width: 993px) {
  #items {
    display: flex;
    justify-content: space-evenly;
  }

  #buscador {
    width: 100%;
  }

  .card-img-top {
    max-width: 220px;
  }
}
