.img__productos {
  width: 100%;
  height: 240px;
  padding-bottom: 1.5rem;
}

.hero-products {
  padding-bottom: 2rem;
  background-color: $background-2;
}

.productos {
  background-color: $white;
  border-radius: 0.4rem;
  padding: 1rem;

  &-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-1;
    padding: 0.5rem 0;
  }

  &-link {
    font-size: 1rem;
    padding-left: 2rem;
    color: $black;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
}

.productos-icons-btn {
  font-size: 23px;
  padding: 0 7px;
  margin-left: 1rem;
  border: none;
  background-color: $white;

  i {
    font: red;
  }
}

#buscador {
  width: 280px;
  height: 26px;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  padding-left: 0.4rem;
  color: $black;
  font-weight: 500;
  border: 1px solid $black;
  margin-bottom: 1rem;

  &:focus {
    box-shadow: -1px 1px 3px rgb(179, 176, 176);
    outline: none;
  }
}

.title-buscador {
  display: inline-block;
  color: $color-1;
  font-size: 1rem;
  font-weight: 500;
}
