// background
$background-1: #131313;
$background-2: #eef2f6;

// fonts - borders
$white: #fff;
$grey: #d6dee7;
$black: #252525;
// extras
$color-1: #ffb320;
$color-2: #ff205f;

$color-1-ho: #f7c96d;
$color-2-ho: #f95785;
